<h1>Newspapers</h1>

<div class="newspapers listing">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>
    <tbody>
        <% @documents.each do |document| %>
        <tr>
          <td class="title"><%= document.name %></td>
          <td><%= link_to("Edit", edit_document_path(document.id)) %></td>
          <td>
            <% if document.pdf %>
              <%= link_to("Download", document_download_path(document), 
                          download: true, 
                          "data-pdf-id" => document.pdf.id,
                          class: "pdf-download") %>
            <% else %>
              <span class="pdf-download missing">missing pdf</span>
            <% end %>
            <%= react_component("PdfStatus") %>
          </td>
          <td><%= link_to("Generate", document_generate_path(document.id), method: :post, remote: true) %></td>
          <td><%= link_to("Delete", document, :method => :delete, :confirm => "Are you sure ?") %></td>
      <% end %>
    </tbody>
  </table>
</div>