<h1>Newspapers</h1>

<div class="newspapers listing">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="4">Actions</th>
      </tr>
    </thead>
    <tbody>
        <% @documents.each do |document| %>
        <tr>
          <td class="title"><%= document.name %></td>
          <td><%= link_to("Edit", edit_document_path(document.id)) %></td>
          <td>        
            <% if document.pdf %>
              <%= link_to("Download", document.pdf.url) %>
            <% end %>
          </td>
          <td><%= link_to("Generate", document_generate_path(document.id), method: :post) %></td>
          <td><%= link_to("Delete", document, :method => :delete, :confirm => "Are you sure ?") %></td>
      <% end %>
    </tbody>
  </table>
</div>