<!DOCTYPE html>
<html>
  <head>
    <title>PaperMaker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_react' %> 
  </head>

  <body>
    <header>
      <%= link_to('PaperMaker', root_path, class: 'logo') %>
      <nav>
        <ul id="nav">
          <li><%= link_to('Home', root_path) %></li>
          <li><%= link_to('Newspapers', documents_path) %></li>
          <li><%= link_to('Create', new_document_path, class: 'cta') %></li>
        </ul>
      </nav>
    </header>
    <div class="flash">
      <% flash.each do |type, msg| %>
        <div class='message <%= type %>'>
          <%= msg %>
        </div>
      <% end %>
    </div>
    <div class="content-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
